.piechart {
  g:focus,
  path:focus {
    outline: none;
  }

  :global(.recharts-pie-sector):focus path {
    stroke: var(--sapContent_FocusColor);
    stroke-width: calc(var(--sapContent_FocusWidth) * 2);
    paint-order: stroke;
  }

  :global(.recharts-legend-item-text) {
    color: var(--sapTextColor) !important;
  }

  [data-active-legend] {
    background: color-mix(in srgb, var(--sapSelectedColor), transparent 87%);
  }
}
