.piechart {
  g:focus,
  path:focus {
    outline: none;
  }

  :global(.recharts-legend-item-text) {
    color: var(--sapTextColor) !important;
  }

  [data-active-legend] {
    background: color-mix(in srgb, var(--sapSelectedColor), transparent 87%);
  }
}
