.objectPageSubSection:focus {
  outline: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
  outline-offset: calc(-1 * var(--sapContent_FocusWidth) + 4px);
}

.headerContainer {
  min-height: 2rem;
  > :first-child {
    margin-inline: 0 0.25rem;
  }
  > :last-child:not(:first-child) {
    margin-inline: 0.25rem 0;
  }
  > *:not(:first-child):not(:last-child) {
    margin-inline: 0.25rem;
  }
  position: sticky;
  background: var(--sapBackgroundColor);
  /*-1 -> subpixel rounding errors */
  inset-block-start: calc(var(--_ui5wcr_ObjectPage_header_height) - 1px);
  z-index: 3;
}

.subSectionTitle {
  font-family: var(--sapFontHeaderFamily);
  font-size: var(--sapFontHeader5Size);
  color: var(--sapGroup_TitleTextColor);
  flex-grow: 1;
}

.subSectionContent {
  background-color: var(--_ui5wcr_ObjectPage_SubSectionBackgroundColor);
  border-radius: var(--_ui5wcr_ObjectPage_SubSectionBorderRadius);
  padding-block: 0.5rem;
  margin-block-start: 0.5rem;
}

.spacer {
  flex-grow: 1;
}

.uppercase {
  text-transform: uppercase;
}
