name: Deploy Docs (Stable)

on:
  release:
    types:
      - 'released'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write # to deploy to Pages
      id-token: write # to verify the deployment originates from an appropriate source
      contents: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Node.js environment
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'

      - name: Install node_modules
        run: yarn install --immutable
        env:
          CYPRESS_INSTALL_BINARY: 0

      - name: Get Major Version
        run: |
          MAJOR_VERSION=$(node -p -e "/^(\d+)\./.exec(require('./lerna.json').version)[1]")
          echo "MAJOR_VERSION=${MAJOR_VERSION}" >> "$GITHUB_ENV"

      - name: Build Storybook
        run: |
          yarn build:storybook
          yarn build:storybook-sitemap --basePath "v${{ env.MAJOR_VERSION }}"
        env:
          NODE_OPTIONS: '--max-old-space-size=4096'

      - name: Deploy Docs
        uses: JamesIves/github-pages-deploy-action@9d877eea73427180ae43cf98e8914934fe157a1a # v4.7.6
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: .out # The folder the action should deploy.
          target-folder: v${{ env.MAJOR_VERSION }}
          clean: true
