name: Examples & Templates

on:
  push:
    branches:
      - 'main'
    paths:
      - 'examples/**/*'
      - 'templates/**/*'
      - 'patterns/navigation-layout/**/*'
  pull_request:
    paths:
      - 'examples/**/*'
      - 'templates/**/*'
      - 'patterns/navigation-layout/**/*'

jobs:
  examples:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        path:
          - nextjs-app
          - nextjs-pages
          - react-router-ts
          - vite-ts
      fail-fast: false
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: '.nvmrc'

      - name: Install
        run: npm ci
        working-directory: examples/${{ matrix.path }}

      - name: Build
        run: npm run build
        working-directory: examples/${{ matrix.path }}

      - name: Test
        run: npm run test --if-present
        working-directory: examples/${{ matrix.path }}

      - name: ESLint
        run: npm run lint --if-present
        working-directory: examples/${{ matrix.path }}

  templates:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        path:
          - nextjs-app
          - nextjs-pages
          - vite-ts
      fail-fast: false
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: '.nvmrc'

      - name: Install
        run: npm ci
        working-directory: templates/${{ matrix.path }}

      - name: Build
        run: npm run build
        working-directory: templates/${{ matrix.path }}

      - name: Test
        run: npm run test --if-present
        working-directory: templates/${{ matrix.path }}

      - name: ESLint
        run: npm run lint --if-present
        working-directory: templates/${{ matrix.path }}

  patterns:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        path:
          - navigation-layout
      fail-fast: false
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: '.nvmrc'

      - name: Install
        run: npm ci
        working-directory: patterns/${{ matrix.path }}

      - name: Build
        run: npm run build
        working-directory: patterns/${{ matrix.path }}

      - name: Test
        run: npm run test --if-present
        working-directory: patterns/${{ matrix.path }}

      - name: ESLint
        run: npm run lint --if-present
        working-directory: patterns/${{ matrix.path }}
