name: Examples & Templates

on:
  push:
    branches:
      - 'main'
    paths:
      - 'examples/**/*'
      - 'templates/**/*'
      - 'patterns/navigation-layout/**/*'
  pull_request:
    paths:
      - 'examples/**/*'
      - 'templates/**/*'
      - 'patterns/navigation-layout/**/*'

jobs:
  examples:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        path:
          - nextjs-app
          - nextjs-pages
          - react-router-ts
          - vite-ts
      fail-fast: false
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: '.nvmrc'

      - name: Install
        run: npm ci
        working-directory: examples/${{ matrix.path }}

      - name: Build
        run: npm run build
        working-directory: examples/${{ matrix.path }}

      - name: Test
        run: npm run test --if-present
        working-directory: examples/${{ matrix.path }}

      - name: ESLint
        run: npm run lint --if-present
        working-directory: examples/${{ matrix.path }}

  templates:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        path:
          - nextjs-app
          - nextjs-pages
          - vite-ts
      fail-fast: false
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: '.nvmrc'

      - name: Install
        run: npm ci
        working-directory: templates/${{ matrix.path }}

      - name: Build
        run: npm run build
        working-directory: templates/${{ matrix.path }}

      - name: Test
        run: npm run test --if-present
        working-directory: templates/${{ matrix.path }}

      - name: ESLint
        run: npm run lint --if-present
        working-directory: templates/${{ matrix.path }}

  patterns:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        path:
          - navigation-layout
      fail-fast: false
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: '.nvmrc'

      - name: Install
        run: npm ci
        working-directory: patterns/${{ matrix.path }}

      - name: Build
        run: npm run build
        working-directory: patterns/${{ matrix.path }}

      - name: Test
        run: npm run test --if-present
        working-directory: patterns/${{ matrix.path }}

      - name: ESLint
        run: npm run lint --if-present
        working-directory: patterns/${{ matrix.path }}
