name: Open Source Security

on:
  push:
    branches:
      - main
  schedule:
    - cron: '12 3 * * *'
  workflow_dispatch:

jobs:
  piper-oss:
    name: 'Security'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: artifactPrepareVersion
        uses: SAP/project-piper-action@f5707cddbf1ed8a72adbfad43a677bbfb7fd6ac9 # v1.25.1
        with:
          step-name: artifactPrepareVersion
          flags: --versioningType cloud_noTag

      - name: detectExecuteScan
        uses: SAP/project-piper-action@f5707cddbf1ed8a72adbfad43a677bbfb7fd6ac9 # v1.25.1
        with:
          step-name: detectExecuteScan
          flags: '--token ${{ secrets.DETECT_TOKEN }}'
