name: 'Issue Comments'

on:
  workflow_dispatch:

jobs:
  issue-comment:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          token: ${{ secrets.ACCESS_TOKEN }}

      - name: Setup Node.js environment
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'

      - name: Install Dependencies
        run: |
          yarn install --immutable
        env:
          CYPRESS_INSTALL_BINARY: 0

      ### Semantic Release Bot comments for issues and PRs ###
      - name: Add release comments to issues and PRs
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
          GH_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        with:
          github-token: ${{ secrets.ACCESS_TOKEN }}
          script: |
            const { default: addIssueComments } = await import('${{ github.workspace }}/.github/createIssueCommentsForRelease.mjs');

            await addIssueComments({ github, context })
